html,
body {
  height: 100%;
}

body {
  background-color: #211E1E;
  color: #FFFFFF;
  font-family: Arial;
}

.container-fluid {
  height: 100%;
}

.navigation {
  background-color: #000000;
}

.navigation .logo {
  font-size: 3rem;
}

.navigation .btn {
  width: 100%;
  
  background-color: #000000;
  border-radius: 0;
}

.navigation label {
  font-size: 1.5rem;
}

.navigation input {
  display: none;
}

/*
.navigation input:checked + label {
  background-color: red;
}*/

.search-page {
  padding-top: 7rem;
}

.search-page .start-search {
  padding-top: 5rem;
  text-align: center;
}

.search-page .start-search h1 {
  font-size: 6rem;
}

.search-page .search-bar {
  width: 80%;
  margin: 0 auto;
}